
  .panel1 {
  background-image: url('../../images/backgrounds/deer.jpeg');
}
.panel2 {
  background-image: url("../../images/backgrounds/movie.jpeg");
}
.panel3 {
  background-image: url("../../images/backgrounds/code.png");
}
.panel4 {
  background-image: url("../../images/backgrounds/snake.JPG");
}
.panel5 {
  background-image: url("../../images/backgrounds/soccer.jpg");
}
